*{margin:0;padding:0;box-sizing:border-box;}
article, section, aside, footer, header{display:block;}
html{
  background-color:#2e4362;
  background-image: url(../IMG/bg-body.svg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
label{
  color: #5d6584;
  margin: 0rem 0.4rem 0.3rem 0.5rem;
}
input[type="checkbox"]{
  appearance: none;
  border: 2px solid #4b516a;
  border-radius: 30%;
  background:#393e52;
  width: 0.9rem;
  height: 0.9rem;
  margin-right: 0.2rem;
}
input[type="checkbox"]:checked{
  background: 40% 50% / 90% url(../IMG/check.svg), #393e52 no-repeat;
}
button, input[type="submit"]{
  padding: 0.5rem 1.5rem;
  background: #1f9cf1;
  text-transform: uppercase;
  color: white;
  font-size:1rem;
  border-radius: 0.5rem;
  border:none;
  cursor: pointer;
}
button:hover, input[type="submit"]:hover{
  box-shadow: 0 0 5px #1f9cf1;
}
select{
  appearance: none;
  color: white;
  background: #2d3041;
  border: 2px solid #1f9cf1;
  border-radius: 1.5rem;
  font-size: 0.8rem;
  padding: 0.5rem 2rem 0.5rem 1rem;
  position: relative;
  cursor: pointer;
}
select:hover{
  box-shadow: 0 0 5px #1f9cf1;
}
.select-wrap{
  position: relative;
  display: inline-block;
  margin: 0rem 2rem 0rem 0rem;
}

.select-wrap .select-arrow{
  position: absolute;
  z-index: 1;
  right: 0.75rem;
  top:1rem;
  background: linear-gradient(-45deg, #2d3041 0%, #2d3041 50%, #0000 50%, #0000),
              linear-gradient(45deg, #0000 0%, #0000 50%, #1f9cf1 50%, #1f9cf1);
  width: 1rem;
  height: 1rem;
}
.hidden-panel-curtain{
  height: 0;
  position: absolute;
  left:0;
  right:0;
  top:0;
  z-index: 10;
  overflow: hidden;
  background: #2d3041;
  transition: all 0.4s ease-in-out;
}
.hidden-panel-curtain.show{
  height: 100%;
}
.apply{
  text-align: center;
  margin-top: 1rem;
}
.message-canvas{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right: 0;
  z-index: -100;
  background: #4b506ddd;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}
.message-canvas.show{
  z-index: 100;
  opacity: 1;
}
.message-box{
  width: 50%;
  margin: 10rem auto;
background: #2d3041;
padding: 2rem;
box-shadow: 0 0 10px #000a;
margin-bottom: 2rem;
text-align: center;
}
.message-header{
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 0.5rem;
}
.message{
  margin-bottom: 1rem;
}
.keyboard-wrapper{
  width: 100%;
  transition: all 0.5s;
}
.widget{
  position: relative;
  width: 95%;
  max-width: 1000px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  background: #2d3041;
  padding: 2rem;
  box-shadow: 0 0 15px #0004;
  margin: 3rem auto;
}
.widget header{
  margin-bottom: 1.5rem;
}
.row{
  width: 100%;
  display:flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}
.row:before{
  content: "";
  display: block;
  padding-top: 5.5%;
}
.key{
  position: relative;
  border-radius: 0.3rem;
}
.key span{
  position:absolute;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  left:0;
  right:0;
  top: calc(50% - 0.65rem);
}
.key-size-6{width: 6%;}
.key-size-8{ width: 8%;}
.key-size-9{width: 9%;}
.key-size-11{width: 11%;}
.key-size-13{width: 13%;}
.key-size-14{width: 14%;}
.key-size-15{width: 15%;}
.key-size-16{width: 16%;}
.key-size-50{width: 50%;}
.highlighted-key{
  border: 3px solid #1f9cf1;
}
.key.pressed-key{background-color: #1f9cf1;}
.key.lighted-key{border:3px solid #1f9cf1;}
.no-finger{
  background-color: #393e52;
  border: none;
}
.little-fing-left{background-color: #882323;}
.little-fing-right{background-color:  #8b5c1e;}
.ring-fing-left{background-color: rgb(156, 156, 9);}
.ring-fing-right{background-color: #3a8028;}
.middle-fing-left{background-color: #216d6d;}
.middle-fing-right{background-color: #40308a;}
.index-fing-left{background-color: #6e337a;}
.index-fing-right{background-color: #772849;}

#trainer .input-field{
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  border: 2px solid #4b516a;
  border-radius: 0.5rem;
  background:#393e52;
  padding: 0.5rem;
  margin-bottom: 2rem;
  font-family: 'Courier New', Courier, monospace;
}
#trainer .input-field .entered-text{
  color: #4b516a;
}
#trainer .input-field .expected-text span:first-child{
  color: #1f9cf1;
  border-bottom: 2px solid #1f9cf1;
}
#trainer .top-header{
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
}
#trainer .top-header h2{
  margin-right: auto;
}
#trainer button.sets-btn{
  width: 2.3rem;
  height: 2.3rem;
  background: center center / 70% no-repeat url(../IMG/sets-icon.svg);
  border: none;
  border-radius: 50%;
  align-self: center;
  cursor: pointer;
  padding: 0;
}
#trainer button.sets-btn:hover{
  background: center center / 70% no-repeat url(../IMG/sets-icon.svg),
              radial-gradient(#eee 0%, #eee2 40%, #eee0 70%);
  box-shadow: none;
}
#trainer .sets{
  padding: 2rem;
}
#trainer .sets h3{
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #5d6584;
  margin-bottom: 1.5rem;
}
#trainer .sets p{
  margin: 1.5rem 0 0.5rem 0;
}
.left-sets{
float: left;
width: 40%;
margin-right: 10%;
margin-bottom: 1rem;
}
.right-sets{
  margin-bottom: 1rem;
}
.right-sets:after{
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 1300px){
  .key span{
    font-size: 0.9rem;
    top: calc(50% - 0.45rem);
  }
}
@media (max-width: 900px){
  .key span{
    font-size: 0.8rem;
    font-weight: normal;
    top: calc(50% - 0.4rem);
  }
  #trainer .input-field{
    font-size: 1.3rem;
  }
  .highlighted-key{
    border: 2px solid #1f9cf1;
  }
  #trainer .hidden-panel-curtain span.wrapper{
    display: block;
    margin-bottom: 1rem;
  }
  #trainer .hidden-panel-curtain .left-sets{
    float: left;
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
  }
}
@media (max-width: 750px){
  .key span{
    font-size: 0.7rem;
    font-weight: normal;
    top: calc(50% - 0.35rem);
  }
}
@media (max-width: 700px){
  .key span{
    font-size: 0.6rem;
    font-weight: normal;
    top: calc(50% - 0.25rem);
  }
  #trainer .top-header{
    justify-content: space-between;
  }
  #trainer .top-header h2{
    width: 90%;
    order: 1;
    margin-bottom: 1rem;
  }
  #trainer .top-header .wrapper{
    order: 3;
  }
  #trainer .top-header button{
    order: 2;
  }
}
@font-face{
  font-family: "Teko";
  src:url(../fonts/Teko-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}